/* universal Styles */
. {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}

section {
    padding: 50px 4%;
}

.primary-color{
    color: #FF0000;
}

.bold{
    font-weight: 700;
}

/* Hero secion styles */
.hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url(../images/main-banner-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 20px;

}

.hero-text {
    color: white;
    text-align: center;
}

.hero-text h3 {
    font-size: 2rem;
}

.hero-text h1 {
    font-size: 4rem;
}


/* Offer Section Styles*/

.offer-container{
    text-align: center;
}

.offer-container img{
    width: 100%;
    height: 100%;
    max-width: 1200px;
}

.offer-container h1{
    font-size: 4rem;
    color: #FF0000;
    
}

.offer-container p{
    color: #FF0000;
}

.offer-container h3{
    font-size: 2rem;
}


/* Mid Night Party Styles */
.party-container{
    background-image: linear-gradient(
            to right,
            rgba(0,20,20,.95),
            rgba(15,23,42,.45),
            transparent
        ), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 90vh;
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    display: grid;
}

.party-box{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 126px 140px;
    padding: 0 50px;
    gap: 300px;
    margin: 0 auto;
}

.party-text{
    color: white;
}


.party-text h1 {
    font-size: 4rem;
}

.party-text h5 {
    font-size: 1.5rem;
    padding-left: 20px;
}

.party-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

/* Schedule Section style */
.schedule-container{
    /* background: linear-gradient(180deg, #FF0000 10%, #FF000000 100%); */
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
    height: 80vh;
    /* background-color: gray; */
    border-radius: 30px 30px 0 0;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.schedule-box button{
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    background-color: #FF0000;;
}

.schedule-text{
    font-size: 2rem;
    line-height: 30px;

}

.schedule-text span{
    color: #FF0000;
}

/* New Best Offer Section Styles */
.best-offer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.best-offer-container h3{
    font-size: 2rem;
}

.best-offer-left{
   max-width: 100%;
}

.best-offer-middle{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.eclips {
    width: 100%;
    height: 100%;
    border: 10px solid tomato;
    padding: 5px;
    border-radius: 50%;
    padding: 10px;
}

.best-offer-middle img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.best-offer-right{
    max-width: 100%;
}

.best-offer-right img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


